<odoo>
    <!-- actions opening views on models -->

    <record model="ir.actions.act_window" id="catalog.action_view_templates">
      <field name="name">Catalog Templates</field>
      <field name="res_model">catalog.template</field>
      <field name="view_mode">tree,form</field>
      <field name="help" type="html">
        <p class="o_view_nocontent_smiling_face">
          No templates to display
        </p><p>
          If you haven't already done so, synchronize a branch to get addons.
        </p>
      </field>
    </record>

    <record model="ir.actions.act_window" id="catalog.action_view_entries">
      <field name="name">Catalog Entries</field>
      <field name="res_model">catalog.entry</field>
      <field name="view_mode">tree,form</field>
      <field name="help" type="html">
        <p class="o_view_nocontent_smiling_face">
          No entries to display
        </p><p>
          If you haven't already done so, synchronize a branch to get addons.
        </p>
      </field>
    </record>

    <!-- Top menu item -->

    <menuitem
        id="menu_catalog_root"
        name="Catalog"
        groups="catalog.group_user"
        web_icon="fa fa-search,#FFFFFF,#0088aaff"
        sequence="75"/>

    <!-- Categories -->

    <menuitem name="Templates" id="menu_catalog_template"
              parent="menu_catalog_root"
              sequence="10"
              action="catalog.action_view_templates"/>

    <menuitem name="Entries" id="menu_catalog_entry"
              parent="menu_catalog_root"
              sequence="10"
              action="catalog.action_view_entries"/>

    <menuitem name="Configuration" id="menu_custom_addons_config"
              groups="catalog.group_manager"
              sequence="90"
              parent="menu_catalog_root"/>

    <menuitem name="Data" id="menu_custom_addons_data"
              sequence="20"
              parent="menu_catalog_root"/>

    <!-- actions -->



    <!-- <menuitem name="Organizations" id="menu_organization"
              parent="menu_custom_addons_data"
              sequence="10"
              action="catalog.action_view_organization"/>

    <menuitem name="Repositories" id="catalog.menu_repository"
              parent="menu_custom_addons_data"
              sequence="20"
              action="catalog.action_view_repository"/>

    <menuitem name="Branches" id="catalog.menu_branch"
              parent="menu_custom_addons_data"
              sequence="30"
              action="catalog.action_view_branch"/>

    <menuitem name="Tags" id="catalog.menu_tags"
              parent="menu_custom_addons_config"
              sequence="10"
              action="catalog.action_view_tags"/>

    <menuitem name="Versions" id="catalog.menu_version"
              parent="menu_custom_addons_config"
              sequence="10"
              action="catalog.action_view_version"/>

    <menuitem name="Rules" id="catalog.menu_rules"
              parent="menu_custom_addons_config"
              sequence="20"
              action="catalog.action_view_rules"/>

    <menuitem name="Authentications" id="catalog.menu_auth"
              parent="menu_custom_addons_config"
              groups="catalog.group_manager"
              sequence="99"
              action="custom_auth.action_view_custom_auth"/> -->

</odoo>
