<odoo>
    <!-- actions opening views on models -->

    <record model="ir.actions.act_window" id="catalog.action_view_templates">
      <field name="name">Catalog Templates</field>
      <field name="res_model">catalog.template</field>
      <field name="view_mode">tree,form</field>
      <field name="help" type="html">
        <p class="o_view_nocontent_smiling_face">
          No templates to display
        </p><p>
          If you haven't already done so, synchronize a branch to get addons.
        </p>
      </field>
    </record>

    <!-- <record model="ir.actions.act_window" id="catalog.action_view_commits">
      <field name="name">Commits</field>
      <field name="res_model">git.commit.items</field>
      <field name="view_mode">tree,form</field>
      <field name="help" type="html">
        <p class="o_view_nocontent_neutral_face">
          No commits to display
        </p><p>
          Use the button to fetch commits on the project or branch.
        </p><p>
          Note that the commits are kept for one hour.
        </p>
      </field>
    </record>

    <record model="ir.actions.act_window" id="catalog.action_view_contributor">
      <field name="name">Contributor</field>
      <field name="res_model">git.contributor</field>
      <field name="view_mode">tree,form</field>
      <field name="help" type="html">
        <p class="o_view_nocontent_neutral_face">
          No contributor to display
        </p>
      </field>
    </record>

    <record model="ir.actions.act_window" id="catalog.action_view_organization">
      <field name="name">Git Organization</field>
      <field name="res_model">git.organization</field>
      <field name="view_mode">kanban,tree,form,graph</field>
      <field name="help" type="html">
        <p class="o_view_nocontent_smiling_face">
          No organization to display
        </p>
      </field>
    </record>

    <record model="ir.actions.act_window" id="catalog.action_view_repository">
      <field name="name">Git Repository</field>
      <field name="res_model">git.repository</field>
      <field name="view_mode">kanban,tree,form,graph</field>
      <field name="help" type="html">
        <p class="o_view_nocontent_smiling_face">
          No repository to display
        </p><p>
          Note that the easiest way to add a git repository is to do it directly from the organization.
        </p>
      </field>
    </record>

    <record model="ir.actions.act_window" id="catalog.action_view_branch">
      <field name="name">Git Branch</field>
      <field name="res_model">git.branch</field>
      <field name="view_mode">kanban,tree,form,graph</field>
      <field name="help" type="html">
        <p class="o_view_nocontent_smiling_face">
          No branch to display
        </p><p>
          If you haven't already done so, synchronize a repository to retrieve its branches.
        </p>
      </field>
    </record> -->

    <!-- <record model="ir.actions.act_window" id="catalog.action_view_tags">
      <field name="name">Git Tags</field>
      <field name="res_model">catalog.template.tags</field>
      <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.act_window" id="catalog.action_view_version">
      <field name="name">Versions</field>
      <field name="res_model">catalog.template.version</field>
      <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.act_window" id="catalog.action_view_rules">
      <field name="name">Git Rules</field>
      <field name="res_model">git.rules</field>
      <field name="view_mode">tree,form</field>
    </record> -->

    <!-- Top menu item -->

    <menuitem
        id="menu_catalog_root"
        name="Catalog"
        groups="catalog.group_user"
        web_icon="fa fa-search,#FFFFFF,#0088aaff"
        sequence="75"/>

    <!-- Categories -->

    <menuitem name="Templates" id="menu_catalog_template"
              parent="menu_catalog_root"
              sequence="10"
              action="catalog.action_view_templates"/>

    <menuitem name="Configuration" id="menu_custom_addons_config"
              groups="catalog.group_manager"
              sequence="90"
              parent="menu_catalog_root"/>

    <menuitem name="Data" id="menu_custom_addons_data"
              sequence="20"
              parent="menu_catalog_root"/>

    <!-- actions -->



    <!-- <menuitem name="Organizations" id="menu_organization"
              parent="menu_custom_addons_data"
              sequence="10"
              action="catalog.action_view_organization"/>

    <menuitem name="Repositories" id="catalog.menu_repository"
              parent="menu_custom_addons_data"
              sequence="20"
              action="catalog.action_view_repository"/>

    <menuitem name="Branches" id="catalog.menu_branch"
              parent="menu_custom_addons_data"
              sequence="30"
              action="catalog.action_view_branch"/>

    <menuitem name="Tags" id="catalog.menu_tags"
              parent="menu_custom_addons_config"
              sequence="10"
              action="catalog.action_view_tags"/>

    <menuitem name="Versions" id="catalog.menu_version"
              parent="menu_custom_addons_config"
              sequence="10"
              action="catalog.action_view_version"/>

    <menuitem name="Rules" id="catalog.menu_rules"
              parent="menu_custom_addons_config"
              sequence="20"
              action="catalog.action_view_rules"/>

    <menuitem name="Authentications" id="catalog.menu_auth"
              parent="menu_custom_addons_config"
              groups="catalog.group_manager"
              sequence="99"
              action="custom_auth.action_view_custom_auth"/> -->

</odoo>
