<odoo>
  <data>

    <!-- server action to the one above -->

    <record model="ir.actions.server" id="action_server_duplicate_branch">
      <field name="name">Copy branch</field>
      <field name="model_id" ref="model_git_branch"/>
      <field name="binding_model_id" ref="model_git_branch"/>
      <field name="binding_view_types">form</field>
      <field name="state">action</field>
      <field name="state">code</field>
      <field name="code">action = record.action_duplicate()</field>
    </record>

  </data>
</odoo>