<odoo>
  <data>


    <!-- actions opening views on models -->

    <record model="ir.actions.act_window" id="action_view_selection">
      <field name="name">Addons Selection</field>
      <field name="res_model">custom.addon.selection</field>
      <field name="view_mode">tree,form</field>
    </record>

    <!-- server action to the one above -->

    <record model="ir.actions.server" id="action_server_add_to_selection">
      <field name="name">Add to selection</field>
      <field name="model_id" ref="model_custom_addon"/>
      <field name="binding_model_id" ref="model_custom_addon"/>
      <field name="state">action</field>
      <field name="state">code</field>
      <field name="code">action = records.action_add_to_selection()</field>
    </record>


    <!-- menu categories -->

    <menuitem name="Selections" id="catalog.menu_selection"
              parent="catalog.menu_custom_addons_data"
              sequence="40"
              action="action_view_selection"/>

  </data>
</odoo>