<odoo>
  <data>


    <!-- actions opening views on models -->

    <record model="ir.actions.act_window" id="custom_addons.action_view_addons">
      <field name="name">Custom Addons</field>
      <field name="res_model">custom.addon</field>
      <field name="view_mode">kanban,tree,form,graph</field>
    </record>

    <record model="ir.actions.act_window" id="custom_addons.action_view_organization">
      <field name="name">Git Organization</field>
      <field name="res_model">git.organization</field>
      <field name="view_mode">kanban,tree,form,graph</field>
    </record>

    <record model="ir.actions.act_window" id="custom_addons.action_view_repository">
      <field name="name">Git Repository</field>
      <field name="res_model">git.repository</field>
      <field name="view_mode">kanban,tree,form,graph</field>
    </record>

    <record model="ir.actions.act_window" id="custom_addons.action_view_branch">
      <field name="name">Git Branch</field>
      <field name="res_model">git.branch</field>
      <field name="view_mode">tree,kanban,form,graph</field>
    </record>

    <record model="ir.actions.act_window" id="custom_addons.action_view_tags">
      <field name="name">Git Tags</field>
      <field name="res_model">custom.addon.tags</field>
      <field name="view_mode">tree,form</field>
    </record>

    <record model="ir.actions.act_window" id="custom_addons.action_view_rules">
      <field name="name">Git Rules</field>
      <field name="res_model">git.rules</field>
      <field name="view_mode">tree,form</field>
    </record>

    <!-- server action to the one above -->

    <record model="ir.actions.server" id="action_server_sync_repository">
      <field name="name">Repositories Sync.</field>
      <field name="model_id" ref="model_git_organization"/>
      <field name="state">code</field>
      <field name="code">
        records.action_sync()
      </field>
    </record>

    <record model="ir.actions.server" id="action_server_sync_branches">
      <field name="name">Branches Sync.</field>
      <field name="model_id" ref="model_git_repository"/>
      <field name="state">code</field>
      <field name="code">
        records.action_sync()
      </field>
    </record>

    <!-- Top menu item -->

    <menuitem name="Custom Addons"
              id="custom_addons.menu_root"
              parent="base.menu_management"/>

    <!-- menu categories -->

    <menuitem name="Git" id="custom_addons.menu_git"
              parent="custom_addons.menu_root"/>
    <menuitem name="Configuration" id="custom_addons.menu_configuration"
              parent="custom_addons.menu_root"/>

    <!-- actions -->

    <menuitem name="Addons" id="custom_addons.menu_addons"
              parent="custom_addons.menu_root"
              action="custom_addons.action_view_addons"/>

    <menuitem name="Organizations" id="custom_addons.menu_organization"
              parent="custom_addons.menu_git"
              action="custom_addons.action_view_organization"/>

    <menuitem name="Repositories" id="custom_addons.menu_repository"
              parent="custom_addons.menu_git"
              action="custom_addons.action_view_repository"/>

    <menuitem name="Branches" id="custom_addons.menu_branch"
              parent="custom_addons.menu_git"
              action="custom_addons.action_view_branch"/>

    <menuitem name="Tags" id="custom_addons.menu_tags"
              parent="custom_addons.menu_configuration"
              action="custom_addons.action_view_tags"/>

    <menuitem name="Rules" id="custom_addons.menu_rules"
              parent="custom_addons.menu_configuration"
              action="custom_addons.action_view_rules"/>

  </data>
</odoo>